/* Elementos */

*{
	font-family: Futura, sans-serif;
}

body{	
	margin:0;
	background-image: url(../images/fd_vacuo.jpg);
	background-position: top left;
	background-repeat: repeat;

	color: #555555;
	font-size: 12px;
}

br {
	clear: left;
}

img{
	border: 0px;
}

input, select, textarea {
	color: #253525;
	margin: 0;
	font-size: 12px;
	border: 1px solid #878787;
	/* -moz-border-radius : 4px; EXPLORER NUM GUENTA */
}

fieldset{
	padding: 5px;
	margin: 0px;
	border: 1px solid #257AA4;
}
fieldset legend{
	font-size: 12px;
	font-weight: bold;
	color: #257AA4;
	text-transform: uppercase;
}

a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

a.v9n { COLOR: #257AA4; FONT-SIZE: 9pt; TEXT-DECORATION: underline; LINE-HEIGHT: 15pt}
a.v9n:hover { COLOR: #257AA4; FONT-SIZE: 9pt; TEXT-DECORATION: underline;}
a.v9n:active { COLOR: #257AA4;}

a.v10n { COLOR: #257AA4; FONT-SIZE: 10pt; TEXT-DECORATION: none; LINE-HEIGHT: 15pt}
a.v10n:hover { COLOR: #257AA4; FONT-SIZE: 10pt; TEXT-DECORATION: underline;}
a.v10n:active { COLOR: #257AA4;}
.v10n { COLOR: #257AA4; FONT-SIZE: 10pt; LINE-HEIGHT: 15pt}

/* LOGIN */

.tabelaBase {
	border-collapse: collapse;
	width: 100%;
	height: 100%;
}

.cima_login {
	background-color: #FFFFFF;
	padding: 10px;
	padding-right: 30px;
	text-align: right;
	vertical-align: bottom;
}

.meio_login {
	background-color: #CCCCCC;
	height: 10px;
	padding-right: 30px;
	text-align: right;
}

.msg_login {
	height: 180px;
	background-color: #EBEBEB;
	padding: 15px;
	padding-right: 35px;
	vertical-align: top;
	text-align: right;
}

.baixo_login_esq {
	background-color: #EBEBEB;
	padding: 10px;
	text-align: left;
	height: 10px;
}

.baixo_login_dir {
	background-color: #EBEBEB;
	padding: 10px;
	text-align: right;
	height: 10px;
}

/* BASE */

.base_tabelabase {
	border-left: 1px solid #7F7F7F;
	border-right: 1px solid #7F7F7F;
	width: 1000px;
	background-color: #FFFFFF;
}


.base_logo {
	background-image: url(../images/fd_base_sgm.png);
	background-position: top left;
	background-repeat: no-repeat;
	width: 199px;
}

.base_user {
	height: 29px;
	text-align: right;
	padding-right: 10px;

	vertical-align: middle;

	background-image: url(../images/fd_base_user.gif);
	background-position: bottom left;
	background-repeat: repeat-x;
}

.base_menu {
	background-image: url(../images/fd_base_menu.gif);
	background-position: top left;
	background-repeat: repeat-x;
}

.menuGeplanes{	
	background-color: transparent;
}

.base_menu .menuClass{
	background-color: transparent;
}

.base_conteudo {
	vertical-align: top;
	text-align: left;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.base_conteudo .bindblock {
	margin-bottom: 10px;
}

.base_baixo {
	background-image: url(../images/fd_rodape.gif);
	background-position: center left;
	background-repeat: repeat-x;
	padding-right: 5px;
	text-align: right;
	vertical-align: middle;
	height: 24px;
}

/* CONTROLES */

.btnApp {
	border: 2px #022D5A solid;
	background-color: #FFFFFF;
	color: #022D5A;
	text-transform: uppercase;
	font-size: 10px;
}

.botao_normal {
	border: 2px #022D5A solid;
	background-color: #FFFFFF;
	color: #022D5A;
	text-transform: uppercase;
	font-size: 10px;
}
.botao_normal_nl {
	margin-top: 3px;
}
.botao_desabilitado {
	border: 2px #888888 solid;
	background-color: #FFFFFF;
	color: #888888;
	text-transform: uppercase;
	margin: 0;
	font-size: 10px;
	text-align: center;
}

/* TEXTOS */

.txt_versao {
	font-size: 12px;
	font-family: Verdana;
	font-weight: bold;
	color: #444444;
}

.msg_erro {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #990000;
}

.msg_erro12 {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: #990000;
}

.msg_erro9 {
	font-size: 9px;
	font-weight: bold;
	text-transform: uppercase;
	color: #990000;
}

.txt_normal {
	font-size: 12px;
	font-weight: normal;
	color: #444444;
}

.txt_und12 {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: underline;
	color: #444444;
}

.txt_und11 {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: underline;
	color: #444444;
}

.txt_normal10 {
	font-size: 10px;
	font-weight: normal;
	color: #444444;
}

.txt_especial {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: #444444;
}

.txt_grande {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #444444;
}

.desc{
	font-size: 10px;
	font-weight: normal;
	color: #444444;
}

.desc10bold{
	font-size: 10px;
	font-weight: bold;
	color: #444444;
}

.desc11{
	font-size: 11px;
	font-weight: normal;
	color: #444444;
}

.desc11bold{
	font-size: 11px;
	font-weight: bold;
	color: #444444;
}

.desc12{
	font-size: 12px;
	font-weight: normal;
	color: #444444;
}

.desc12bold{
	font-size: 12px;
	font-weight: bold;
	color: #444444;
}

.desc14bold{
	font-size: 14px;
	font-weight: bold;
	color: #444444;
}

.desc2{
	font-size: 11px;
	font-weight: normal;
	text-transform: uppercase;
	color: red;
}

.tituloColunaPainelIndicadorFiltro {
	background-color: #507D9E;
	color: #FFFFFF;
	font-family: Verdana;
	font-weight: bold;
	font-size: 11px;	
	text-align: left;
	text-transform:uppercase;
}

/* JANELAS */

.fd_tela{
	width: 100%;
	border-collapse: collapse;
	background-color: #F5F5F5;
	border: 3px solid #EBEBEB;
}

.fd_tela_titulo{
	background-color: #507D9E;
	padding: 3px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}

.fd_tela_corpo {
	background-color: #F5F5F5;
	padding-top: 10px;
	height: 120px;
	vertical-align: top;
}

.fd_janela{
	width: 100%;
	border-collapse: collapse;
}

.form_filtro {
	border-collapse: collapse;
}
.form_filtro TD {
	padding: 2px;
	padding-right: 10px;
}
.form_filtro TD TD{
	padding: 0px;
}

.form_filtro_label {
	vertical-align: middle;
	text-align: left;
	width: 1%;
	white-space: nowrap;
}

.form_filtro_value {
	vertical-align: middle;
	text-align: left;
}

.form_filtro_pesquisar{
	border-collapse: collapse;
	width: 100%;
}
.form_filtro_pesquisar TD{
	padding: 0px;
	padding-top: 5px;
	padding-bottom: 10px;
	text-align: right;
}

/* TABELA */

TABLE.fd_tabela1 {
	background-color: #878787;
	border-spacing: 1px;
	width: 100%;
}

TABLE.fd_tabela1 TD{
	padding: 3px;
	font-size: 11px;
}

TR.txt_tit{
	background-color: #507D9E;
	color: #FFFFFF;
	font-family: Verdana;
	font-weight: bold;
	font-size: 11px;	
	text-align: left;
	text-transform:uppercase;
}
TR.txt_tit .order {
	font-size: 11px;
	font-weight: bold;
	color: #555555;
}
TR.txt_tit A{
	font-size: 11px;
	color: #555555;
	text-decoration: none;
	font-weight: bold;
}
TR.txt_tit A:hover{
	font-size: 11px;
	color: #555555;
	text-decoration: underline;
	font-weight: bold;
}

TR.txt_l1{
	background-color: #f5f7f8;
	color: #252525;
	font-weight: normal;
}
TR.txt_l1 A{
	color: #252525;
	text-decoration: none;
}
TR.txt_l1 A:hover{
	color: #252525;
	text-decoration: underline;
}

TR.txt_l2{
	background-color: #EBEBEB;
	color: #252525;
	font-weight: normal;
}
TR.txt_l2 A{
	color: #252525;
	text-decoration: none;
}
TR.txt_l2 A:hover{
	color: #252525;
	text-decoration: underline;
}

.fd_tabela_status{
	border-collapse: collapse;
	width: 100%;
}

.fd_tabela_status TD{
	padding-right: 5px;
	font-size: 11px;
	font-weight: normal;
	text-align: right;
	color: #555555;
}

TR.txt_peq TD{
	font-size: 10px;
	padding: 2px;
}

/* COLUNAS */

.txt_cL {
	text-align: left;
}

.txt_cC {
	text-align: center;
}

.txt_cR {
	text-align: right;
}

.txt_cBotao {
	width: 1%;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}

TABLE.fd_tabela2 {
	width: 100%;
}

TABLE.fd_tabela2 TD{
	padding: 0px;
}

TABLE.fd_tabela3 {
	background-color: #878787;
}
TABLE.fd_tabela3 TD{
	padding: 2px;
}

/* LOOKUP */

.lookup_janela{
	background-color: #FFFFFF;
	border-collapse: collapse;
	width: 100%;
	height: 100%;
}

.lookup_arvore{
	background-color: white;
	width: auto;
	height: 360;
	border: 1px solid #CCCCCC;
	overflow: scroll;		
}

.painel_resultado{
	background-color: white;
	width: 945;
	border: 1px solid #CCCCCC;
	overflow: scroll;
}

.painel_resultado_tit{
	background-color: #D7D7D7;
	color: #555555;
	text-align: center;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
}

.painel_arvore{
	background-color: white;
	width: 675;
	height: 280px;
	border: 1px solid #CCCCCC;
	overflow: scroll;
}

.painel_detalheindicador{
	background-color: white;
	width: 954px;
	height: 144px;
	border: 1px solid #CCCCCC;
	overflow: auto;
}

.lookup_arvore_galhos{
	width: 100%;
}

.lookup_arvore_galhos TR TD{
	font-size: 12px;
}

.item12Titulo {
	padding-top: 6px;
	text-align: center;
	background-color: #EFEFEF;
	font-size: 10px;
	vertical-align: middle;
}

.item4Titulo {
	text-align: center;
	background-color: #EFEFEF;
	height: 5px;
}
.item2Titulo {
	text-align: center;
	background-color: #EFEFEF;
	height: 0px;
}
.item24Titulo {
	width: 12px;
	background-color: #EFEFEF;
	height: 5px;

}

.tabela_titulo_indicadores {
	position:absolute;
	top: 134px;
	float:right;
	left: 505px;
	/*O style left ï¿½ setado na mao no painelControle.jsp linha 187 para o Internet Explorer (no ie deve ser 3 px a menos que no firefox)*/
	background-color:white;
	border: 1px solid #CCCCCC;
	border-bottom-color: #FFFFFF;
}

.arvore_painel {
	border-collapse: collapse;
}

.tabela_farol_indicador {
		border-collapse: collapse;
		height: 100%;
}

/* INDEX */

UL.mensagens {
	margin: 0px;
	padding: 0px;
	list-style-position: outside;
	margin-left: 16px;
	margin-top: 20px;
}

UL.mensagens LI {
	margin: 0px;
	padding: 0px;
	margin-top: 8px;
	font-size: 14px;
	font-weight: normal;
	color: #444444;
}

UL.mensagens LI .mensagens_data12{
	font-size: 12px;
	font-weight: bold;
	color: #444444;
}

UL.mensagens LI .mensagens_data11{
	font-size: 11px;
	font-weight: bold;
	color: #990000;
}

.cancelado {
	color: red;
	text-decoration: line-through;
	text-align:center;	
}
.cancelados {
	color: red;
	text-decoration: line-through;
	text-align:left;
}

.readonly {
	text-align:center;	
}

#loadmsg {
	position: fixed;
	width:400px;
	height:60px;
	top:50%;
	left:50%;
	margin:-30px 0 0 -200px;
	color:#ffffff;
	font-size: 10pt;
	font-family: Verdana;
	background: #002D59;
	display: none;
	text-align:center;
}

#loadmsg span {
	color:#ffffff;
	font-size: 18pt;
	font-family: Verdana;
	font-weight: bold;
	font-style:italic;
}